@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center d-flex justify-content-center align-items-center" style="height: 80vh">
    <h1 class="display-4">Hello, World!</h1>
</div>
